Repository joerick/pyinstrument: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, build

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort (python)

-   repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        language_version: python3

-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        exclude: "\\.(json)$"
        args:
          - --ignore-words-list=vas

-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        entry: pyright --venv-path .
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ['pyright@1.1.260']
    -   id: build
        name: build js bundle
        entry: bin/build_js_bundle.py --force
        files: html_renderer/.*
        language: node
        pass_filenames: false

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.37.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
        stages: [manual]
        exclude: ^pyinstrument/vendor/

exclude: ^pyinstrument/renderers/html_resources/app.js$|^pyinstrument/vendor

Allow for inline show_all in html output
  pyinstrument/profiler.py
Due: pyright

ran black
  pyinstrument/profiler.py
Due: pyright

Add python impl of timing thread
  pyinstrument/low_level/pyi_timing_thread_python.py
  pyinstrument/low_level/stat_profile_python.py
Due: pyright

Try to work around emulated test weirdness
  .github/workflows/test.yml
  test/low_level/test_timing_thread.py
Due: pyright

Add Litestar example to documentation
  .gitignore
  docs/guide.md
  examples/litestar_hello.py
Due: pyright

Add option to show total time including children in flat profiles
  pyinstrument/renderers/console.py
  test/test_renderers.py
Due: pyright

Run pre-commit hooks to fix formatting
  pyinstrument/renderers/console.py
Due: pyright

Fix #286
  pyinstrument/renderers/pstatsrenderer.py
  test/test_pstats_renderer.py
Due: pyright

Fix pre-commit breakage
  test/test_profiler_async.py
Due: pyright

Bump version: v4.6.2
  README.md
  docs/conf.py
  pyinstrument/__init__.py
  setup.py
Due: pyright

fixup: pr
  docs/guide.md
  examples/litestar_hello.py
Due: pyright

Add flat argument to print to Profiler.print()
  pyinstrument/profiler.py
Due: pyright

Add **kwargs to Profiler.print for renderers.ConsoleRenderer
  pyinstrument/profiler.py
Due: pyright

Initial commit of new HTML renderer, which does the processing clientside
  bin/update_sample_json.py
  html_renderer/index.html
  html_renderer/public/sample.json
  html_renderer/src/App.svelte
  html_renderer/src/lib/Frame.svelte
  html_renderer/src/lib/TreeView.svelte
  html_renderer/src/lib/appState.ts
  html_renderer/src/lib/dataTypes.ts
  html_renderer/src/lib/model/Frame.ts
  html_renderer/src/lib/model/FrameGroup.ts
  html_renderer/src/lib/model/Group.ts
  html_renderer/src/lib/model/Session.ts
  html_renderer/src/lib/model/frameOps.ts
  html_renderer/src/lib/model/processors.ts
  html_renderer/src/lib/utils.ts
  pyinstrument/frame.py
  pyinstrument/frame_ops.py
  pyinstrument/profiler.py
  pyinstrument/renderers/html.py
  pyinstrument/renderers/html_resources/app.css
  pyinstrument/renderers/html_resources/app.js
  pyinstrument/renderers/jsonrenderer.py
  pyinstrument/renderers/pstatsrenderer.py
  pyinstrument/session.py
  test/test_renderers.py
Due: pyright, build

Use slightly more recent IPython API.
  pyinstrument/magic/magic.py
Due: pyright

Allow non-vendored deps to be used
  pyinstrument/__main__.py
  pyinstrument/util.py
Due: pyright

test: do not compare sys.path in test executions
  test/test_cmdline.py
Due: pyright

test_frame_info: use parameterized test instead of a loop
  test/low_level/test_frame_info.py
Due: pyright

Propagate `SystemExit` and `KeyboardInterrupt` from CLI
  pyinstrument/__main__.py
  test/test_cmdline.py
Due: pyright

WIP new frontend rendering
  html_renderer/package-lock.json
  html_renderer/package.json
  html_renderer/src/lib/Frame.svelte
  html_renderer/src/lib/TreeView.svelte
  html_renderer/src/lib/model/processors.ts
  html_renderer/tsconfig.node.json
  pyinstrument/__main__.py
  pyinstrument/renderers/html_resources/app.css
  pyinstrument/renderers/html_resources/app.js
Due: pyright, build

Modernise
  .github/workflows/test.yml
  .github/workflows/wheels.yml
  setup.py
Due: pyright

Drop support for 3.7
  README.md
  noxfile.py
  pyproject.toml
  setup.py
Due: pyright

Python 3.13 support
  noxfile.py
  pyinstrument/low_level/stat_profile.c
  setup.py
Due: pyright

Version pin for py3.13
  setup.py
Due: pyright

Add missing import on windows
  pyinstrument/low_level/stat_profile.c
Due: none

Fix up the CI & modernise some things (#322)
  .github/workflows/test.yml
  .github/workflows/wheels.yml
  README.md
  noxfile.py
  pyinstrument/low_level/stat_profile.c
  pyproject.toml
  setup.py
Due: pyright

Ignore type errors
  pyinstrument/magic/magic.py
Due: pyright

pre-commit upgrade
  .pre-commit-config.yaml
  examples/c_sort.py
  examples/django_example/django_example/urls.py
  examples/django_example/django_example/views.py
  metrics/frame_info.py
  metrics/multi_overhead.py
  pyinstrument/__main__.py
  pyinstrument/middleware.py
  pyinstrument/renderers/pstatsrenderer.py
Due: pyright

add back 3.13 fix lost in merge
  pyinstrument/low_level/pyi_floatclock.c
Due: none

nox fixes for 3.13
  noxfile.py
Due: pyright

Add code to detect high-overhead timers and warn users, with actionable suggestions
  metrics/count_samples.py
  pyinstrument/low_level/pyi_floatclock.c
  pyinstrument/low_level/pyi_floatclock.h
  pyinstrument/low_level/pyi_timing_thread.c
  pyinstrument/low_level/stat_profile.c
  pyinstrument/low_level/stat_profile.pyi
  pyinstrument/low_level/types.py
  pyinstrument/stack_sampler.py
  pyinstrument/util.py
Due: pyright

Fix compile on linux
  pyinstrument/low_level/pyi_floatclock.c
Due: none

uv-friendly nox setup
  noxfile.py
Due: pyright

fix linux compile
  pyinstrument/low_level/pyi_floatclock.c
Due: none

Remove some warnings on windows compilers
  pyinstrument/low_level/pyi_floatclock.c
  pyinstrument/low_level/pyi_floatclock.h
  pyinstrument/low_level/pyi_timing_thread.h
  pyinstrument/low_level/shared.h
Due: none

Define a windows shim
  pyinstrument/low_level/pyi_floatclock.c
  pyinstrument/low_level/shared.h
Due: none

Import fixes
  pyinstrument/low_level/pyi_floatclock.c
  pyinstrument/low_level/pyi_floatclock.h
  pyinstrument/low_level/pyi_shared.h
  pyinstrument/low_level/pyi_timing_thread.h
Due: none

Fix extra output
  test/test_cmdline.py
Due: pyright

Emulated tests and multithreading is strange
  test/low_level/test_timing_thread.py
Due: pyright
